AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
AlignOperands: DontAlign
AlignTrailingComments: Always
AlignEscapedNewlines: Right
AllowAllArgumentsOnNextLine: True
AllowAllParametersOfDeclarationOnNextLine: True
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: True
AllowShortEnumsOnASingleLine: True
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: True
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: True
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: True
BinPackParameters: True
BitFieldColonSpacing: Both
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: False
    AfterClass: False
    AfterControlStatement: MultiLine
    AfterEnum: False
    AfterFunction: False
    AfterNamespace: False
    AfterUnion: False
    AfterExternBlock: False
    BeforeCatch: True
    BeforeElse: False
    BeforeWhile: False
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: False
BreakStringLiterals: True
ColumnLimit: 120
ContinuationIndentWidth: 4
IncludeBlocks: Regroup
IndentAccessModifiers: False
IndentCaseLabels: True
IndentGotoLabels: True
IndentWidth: 4
InsertBraces: True
KeepEmptyLinesAtTheStartOfBlocks: False
MaxEmptyLinesToKeep: 1
Language: Cpp
PointerAlignment: Right
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: False
SpaceAfterLogicalNot: False
SpaceBeforeAssignmentOperators: True
SpaceBeforeCaseColon: False
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: False
SpaceInEmptyBlock: False
SpaceInEmptyParentheses: False
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: False
SpacesInConditionalStatement: False
SpacesInLineCommentPrefix:
    Minimum: 1
    Maximum: 1
SpacesInParentheses: False
SpacesInSquareBrackets: False
UseTab: Never
